



.react-calendar-heatmap .color-scale-10 { fill: #19A03B;}
.react-calendar-heatmap .color-scale-9 { fill: #33AB51;}
.react-calendar-heatmap .color-scale-8 { fill: #4CB567;}
.react-calendar-heatmap .color-scale-7 { fill: #66C07C;}
.react-calendar-heatmap .color-scale-6 { fill: #7FCA92;}
.react-calendar-heatmap .color-scale-5 { fill: #99D5A8;}
.react-calendar-heatmap .color-scale-4 { fill: #B2DFBD;}
.react-calendar-heatmap .color-scale-3 { fill: #CCEAD3;}
.react-calendar-heatmap .color-scale-2 { fill: #E5F4E9;}
.react-calendar-heatmap .color-scale-1 { fill: #FFFFFF;}
    